15-02-2022

#### To lowercase

In [2]:
def lower_case_conversion(text):
  lower_text=text.lower()
  return lower_text

In [3]:
ex_lowercase="This is an example of LOWER CASE conversion"
ls_result=lower_case_conversion(ex_lowercase)
ls_result

'this is an example of lower case conversion'

#### Remove html tags

In [7]:
import re
def remove_html_tags(text):
  html_pattern = r'<.*?>'
  without_html=re.sub(pattern=html_pattern, repl=' ', string=text)
  return without_html

In [8]:
ex_htmltags=""" <body>
<div>
<h1> Hi, this is html</h1>
</div>
</body>"""
ls_result=remove_html_tags(ex_htmltags)
print(ls_result)

  Hi, this is html

In [9]:
from bs4 import BeautifulSoup
def remove_html_tags_bs(text):
  parser = BeautifulSoup(text,"html.parser")
  without_html = parser.get_text(separator=" ")
  return without_html

In [11]:
ex_htmltags=""" <body>
<div>
<h1> Hi, this is html</h1>
</div>
</body>"""
ls_result=remove_html_tags_bs(ex_htmltags)
print(ls_result)

  Hi, this is html

Remove numbers

In [14]:
import re
def remove_num(text):
  num_pattern = r'\d+'
  without_num=re.sub(pattern=num_pattern, repl='', string=text)
  return without_num

In [15]:
ex_num = "My num is 7 and 2"
num_result=remove_num(ex_num)
print(num_result)

My num is  and

In [19]:
ex_nums = "28"
print("Output:",num_to_word(ex_nums))

Output: twenty-eight